@using QueueManagementSystem.MVC.Components

@{

    ViewData["Title"] = "Analytics";
    
    
}


<!DOCTYPE html>
    <html>
        
    <body>
        
        <div >
            @(await Html.RenderComponentAsync<Analytics>(RenderMode.ServerPrerendered))
        </div>
        
    </body> 
</html>

