@using QueueManagementSystem.MVC.Components

@{
    ViewData["Title"] = "Configure Services";
}

<!DOCTYPE html>
    <html>
        
    <body>
   
        <div >
            @(await Html.RenderComponentAsync<ConfigureServicePoints>(RenderMode.ServerPrerendered))
        </div>
    </body> 
</html>

