@using QueueManagementSystem.MVC.Components
@{
    ViewData["Title"] = "Configure UserRoles";
}

<!DOCTYPE html>
<html>

<body>


    <div>
        @(await Html.RenderComponentAsync<UserRoles>(RenderMode.ServerPrerendered))
    </div>
</body>
</html>

