@using QueueManagementSystem.MVC.Components
@{
    ViewData["Title"] = "Waiting Page";
}

@{
    Layout = "_LayoutNoNav";
}

<div>
    @(await Html.RenderComponentAsync<CalledTickets>(RenderMode.ServerPrerendered))
</div> 
