@using QueueManagementSystem.MVC.Components
@{
    ViewData["Title"] = "Configuration Page";
}

<!DOCTYPE html>
<html>

<body>


    <div>
        @(await Html.RenderComponentAsync<ConfigurationPage>(RenderMode.ServerPrerendered))
    </div>
</body>
</html>

